@tailwind base;
@tailwind components;
@tailwind utilities;

div#root {
  min-height: 100vh;
}

header {
  color: #2581c4;
}

nav {
  background-color: #2581c4;
  color: white;
}

span.error {
  color: #dc2626;
  font-style: italic;
}

span.success {
  color: #15803d;
  font-style: italic;
}

/* Button styles */
button {
  color: white;
  padding: 8px 16px;
  border-radius: 4px
}

button.login, button.register, button.submit, button.create {
  background-color: #3b82f6;
  font-weight: 600;
}
button.login:hover, button.register:hover, button.submit:hover, button.create:hover {
  background-color: #1d4ed8;
}

/* Footer style */
footer {
  clear: both;
  width: 100%;
  position: fixed;
  bottom: 0;
}