@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}



div#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  color: #2581c4;
}

nav {
  background-color: #2581c4;
  color: white;
}

span.error {
  color: #dc2626;
  font-style: italic;
}

span.success {
  color: #15803d;
  font-style: italic;
}

/* Button styles */
button {
  color: white;
  padding: 8px 16px;
  border-radius: 4px
}

button.login, button.register, button.submit, button.create {
  background-color: #3b82f6;
  font-weight: 600;
}
button.login:hover, button.register:hover, button.submit:hover, button.create:hover {
  background-color: #1d4ed8;
}

/* Footer style */
footer {
  width: 100%;
  margin-top: 20px;
}