@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  color: black;
}

.content-container {
  height: calc(100vh - theme("spacing.20"));
}
nav {
  background-color: #1867b7 !important;
}